@using OleLukoje.Models

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div id="result">
            @if (ViewBag.Comments.Count != 0)
            {
                foreach (Comment comm in ViewBag.Comments)
                {
                    <dl>
                        <dt>@comm.Text</dt>
                        <dd>@comm.UserName, @comm.GetDateTimeString</dd>
                    </dl>
                }
            }
            else
            {
                <h>No Comments</h>
            }
        </div>
        <div class="form-group">
            <textarea id="textComment" style="display:block; margin-top:10px;margin-bottom:10px; height:auto;  min-width:100%"></textarea>
            <button type="submit" class="btn btn-success" style=" margin-bottom: 10px;" onclick="AddComment()">Send</button>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<script>
    function GetComment(name, date, text) {
        var result = document.getElementById("result");
        var d = document.getElementById("textComment");
        result.innerHTML = result.innerHTML + "<dl><dt>" + text + "</dt><dd>" + name + ", " + date + "</dd></dl>";
        textComment.value = "";
    };

    function AddComment() {
        var textComment = document.getElementById("textComment").value;
        var s = { 'text': textComment, 'idAd' : @ViewBag.IdAd };
        $.ajax({
            url: '/Ad/AddComment',
            method: 'POST',
            data: JSON.stringify(s),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                var Date = data.GetDateTimeString;
                var Name = data.UserName;
                var Text = data.Text;
                GetComment(Name, Date, Text);
            }
        });
    }
</script>
