@using OleLukoje.Models

<div id="ListAds"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#ListAds').load('@Url.Action("_ListAd", "Ad", new { userName = User.Identity.Name } )')
        });
    </script>
}