@model OleLukoje.Models.UserProfile
<div class="container col-md-10">
    <div class="row ">
        <span class="userprofile-label col-sm-4">Login:</span>
        <span class="userprofile-content col-sm-8">@Model.UserName</span>
    </div>
    <div class="row ">
        <span class="userprofile-label col-sm-4">Organization:</span>
        <span class="userprofile-content col-sm-8">@Model.Organization</span>
    </div>
    <div class="row">
        <span class="userprofile-label col-sm-4">Phone:</span>
        <span class="userprofile-content col-sm-8">@Model.Phone</span>
    </div>
    <div class="row">
        <span class="userprofile-label col-sm-4">Email:</span>
        <span class="userprofile-content col-sm-8">@Model.Email</span>
    </div>
</div>