.container {
    padding-bottom: 1em;
}

.list-ad-header {
    font-size: 1.5em;
    color: #394d5f;
    font-family: Verdana;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

    .list-ad-header:hover {
        background-color: whitesmoke;
        color: black;
        text-decoration: none;
    }

.description {
    font-size: 1.7em;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0.2em;
    padding: 0.3em;
    color: darkcyan;
}

.price {
    font-size: 1.7em;
}

.author {
    font-size: 1em;
    color: #87857a;
    font-family: Verdana;
    font-style: italic;
}

.list-ad-photo {
    max-width: 100%;
    max-height: 9em;
}

    .list-ad-photo:hover {
        cursor: pointer;
    }

.list-ad-item {
    margin: 1em 0 0 0;
}

@media(min-width:1250px) {
    .list-ad-item-tiled {
        width: 45%;
        display: inline-block;
        margin-top: 1em;
    }

    .list-ad-item-tiled-odd {
        margin-left: 9%;
    }
}

@media(max-width:1249px) {
    .list-ad-item-tiled {
        width: 100%;
        margin-top: 1em;
    }
}


.list-ad-top-side {
    border: 0.1em solid lightgray;
    padding: 1em 1em;
    background: white;
    height: 11.1em;
}

.list-ad-sec-side {
    margin-top: -2em;
    vertical-align: bottom;
    background-color: #337ab7;
    border-radius: 0 0.2em 0 0.2em;
    color: white;
    font-family: Verdana;
}

.list-ad-right-sec-side {
    text-align: right;
    font-size: 2em;
}

.list-ad-right-side {
    height: 9em;
    margin-top: 1em;
    background-color: rgba(51, 122, 183,0.4);
    border-bottom-right-radius: 0.2em;
}


.list-ad-left-sec-side {
    font-style: italic;
    text-align: left;
    font-size: 1em;
}

.category {
    font-size: 1.2em;
    background-color: #87857a;
    border: 0.1em solid black;
    width: auto;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    padding: 0.2em;
    text-align: center;
    border-radius: 0.2em;
    color: white;
    display: inline-block;
}

.categories {
    font-size: 1em;
    font-style: italic;
    background-color: rgba(219, 241, 231, 0.12);
    width: auto;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    padding: 0.2em;
    text-align: center;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.add_categories {
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px 10px;
}

    .add_categories:hover {
        border: 1px solid #5cff2c;
        cursor: pointer;
    }

.characteristic {
    margin-top: 20px;
    font-weight: bold;
}

.add_photo {
    border: 1px solid white;
    border-radius: 5px 5px;
}

    .add_photo:hover {
        border: 1px solid #87857a;
        cursor: pointer;
    }



.white-section {
    margin: 2em 0 0 0;
    border: 0.1em solid lightgray;
    border-radius: 0.2em;
    padding: 1em 2em;
    background: white;
}

.delete-my-add-btn {
    float: right;
}

.userprofile-label {
    color: lightgray;
    font-size: 2em;
    font-family: Batang;
}

#userprofile-username {
    font-size: 2em;
    font-family: Batang;
}

#userprofile-header {
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
  
}

#userprofile-ads-btn {
    float: right;
}

#userprofile-userinfo {
    font-size: 1.3em;
}


#userprofile-fullname {
    padding-left: 1em;
    font-size: 2em;
    font-family: Batang;
    text-align: right;
}

.userprofile-contact-element {
    width: 100%;
}

    .userprofile-contact-element a span {
        float: right;
    }

.userprofile-app-date {
    text-align:right;
}
.userprofile-app-text{
    text-align:justify; 
    font-family:'Segoe UI';
    font-size:1.3em;
}

.userprofile-ads-remove-btn{
    border: none;
    padding:0;
    background-color:red;
    color:white;
    width:1.8em;
    height:1.8em;
    float:right;
}
    .userprofile-ads-remove-btn:hover {
        color:white;
    }
.userprofile-ads-refresh-btn{
    border: none;
    padding:0;
    background-color:gray;
    color:white;
    width:1.8em;
    height:1.8em;
    float:right;
    
}
.userprofile-ads-expires{
    font-size:1.1em;
    font-family:'Segoe UI';
    float:left;
}

@media (max-width: 767px) {
    .userprofile-tabs {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .userprofile-tabs {
        width: 30%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .userprofile-tabs {
        width: 21%;
    }
}

@media (min-width: 1200px) {
    .userprofile-tabs {
        width: 16%;
    }
}

#inTurnFadingTextG {
    width: 390px;
    margin: auto;
}

.inTurnFadingTextG {
    color: rgb(0,0,0);
    font-family: Arial;
    font-size: 41px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    animation-name: bounce_inTurnFadingTextG;
    -o-animation-name: bounce_inTurnFadingTextG;
    -ms-animation-name: bounce_inTurnFadingTextG;
    -webkit-animation-name: bounce_inTurnFadingTextG;
    -moz-animation-name: bounce_inTurnFadingTextG;
    animation-duration: 1.731s;
    -o-animation-duration: 1.731s;
    -ms-animation-duration: 1.731s;
    -webkit-animation-duration: 1.731s;
    -moz-animation-duration: 1.731s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#inTurnFadingTextG_1 {
    animation-delay: 0.6125s;
    -o-animation-delay: 0.6125s;
    -ms-animation-delay: 0.6125s;
    -webkit-animation-delay: 0.6125s;
    -moz-animation-delay: 0.6125s;
}

#inTurnFadingTextG_2 {
    animation-delay: 0.739s;
    -o-animation-delay: 0.739s;
    -ms-animation-delay: 0.739s;
    -webkit-animation-delay: 0.739s;
    -moz-animation-delay: 0.739s;
}

#inTurnFadingTextG_3 {
    animation-delay: 0.8655s;
    -o-animation-delay: 0.8655s;
    -ms-animation-delay: 0.8655s;
    -webkit-animation-delay: 0.8655s;
    -moz-animation-delay: 0.8655s;
}

#inTurnFadingTextG_4 {
    animation-delay: 0.992s;
    -o-animation-delay: 0.992s;
    -ms-animation-delay: 0.992s;
    -webkit-animation-delay: 0.992s;
    -moz-animation-delay: 0.992s;
}

#inTurnFadingTextG_5 {
    animation-delay: 1.1085s;
    -o-animation-delay: 1.1085s;
    -ms-animation-delay: 1.1085s;
    -webkit-animation-delay: 1.1085s;
    -moz-animation-delay: 1.1085s;
}

#inTurnFadingTextG_6 {
    animation-delay: 1.235s;
    -o-animation-delay: 1.235s;
    -ms-animation-delay: 1.235s;
    -webkit-animation-delay: 1.235s;
    -moz-animation-delay: 1.235s;
}

#inTurnFadingTextG_7 {
    animation-delay: 1.3615s;
    -o-animation-delay: 1.3615s;
    -ms-animation-delay: 1.3615s;
    -webkit-animation-delay: 1.3615s;
    -moz-animation-delay: 1.3615s;
}

#inTurnFadingTextG_8 {
    animation-delay: 1.478s;
    -o-animation-delay: 1.478s;
    -ms-animation-delay: 1.478s;
    -webkit-animation-delay: 1.478s;
    -moz-animation-delay: 1.478s;
}

#inTurnFadingTextG_9 {
    animation-delay: 1.6045s;
    -o-animation-delay: 1.6045s;
    -ms-animation-delay: 1.6045s;
    -webkit-animation-delay: 1.6045s;
    -moz-animation-delay: 1.6045s;
}

#inTurnFadingTextG_10 {
    animation-delay: 1.731s;
    -o-animation-delay: 1.731s;
    -ms-animation-delay: 1.731s;
    -webkit-animation-delay: 1.731s;
    -moz-animation-delay: 1.731s;
}




@keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-o-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-ms-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-moz-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}
