.container {
    padding-bottom: 1em;
}

.header {
    font-size: 3em;
    color: #394d5f;
    font-family: Verdana;
}

.description {
    font-size: 1.7em;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0.2em;
    padding: 0.3em;
    color: darkcyan;
}

.price {
    text-align: right;
    font-size: 3em;
}

.author {
    font-size: 1em;
    color: #87857a;
    font-family: Verdana;
    font-style: italic;
}

.category {
    font-size: 1.2em;
    background-color: #87857a;
    border: 0.1em solid black;
    width: auto;
    margin-right: 0.4em;
    margin-bottom:0.4em;
    padding: 0.2em;
    text-align: center;
    border-radius: 0.2em;
    color:white;
    display:inline-block;
}

.categories {
    padding-top: 0.8em;
}

.white-section{
    margin:2em 0 0 0;
    border: 0.1em solid lightgray;
    border-radius: 0.2em;
    padding:1em 2em;
    background: white;
}

.delete-my-add-btn{
    float:right;
}
.userprofile-label{
    color: lightgray;
    font-size: 2em;
    font-family:Batang;
}
.userprofile-content{
    
    font-size: 2em;
    font-family:Batang;
}

#inTurnFadingTextG{
	width:390px;
	margin:auto;
}

.inTurnFadingTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:41px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_inTurnFadingTextG;
		-o-animation-name:bounce_inTurnFadingTextG;
		-ms-animation-name:bounce_inTurnFadingTextG;
		-webkit-animation-name:bounce_inTurnFadingTextG;
		-moz-animation-name:bounce_inTurnFadingTextG;
	animation-duration:1.731s;
		-o-animation-duration:1.731s;
		-ms-animation-duration:1.731s;
		-webkit-animation-duration:1.731s;
		-moz-animation-duration:1.731s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#inTurnFadingTextG_1{
	animation-delay:0.6125s;
		-o-animation-delay:0.6125s;
		-ms-animation-delay:0.6125s;
		-webkit-animation-delay:0.6125s;
		-moz-animation-delay:0.6125s;
}
#inTurnFadingTextG_2{
	animation-delay:0.739s;
		-o-animation-delay:0.739s;
		-ms-animation-delay:0.739s;
		-webkit-animation-delay:0.739s;
		-moz-animation-delay:0.739s;
}
#inTurnFadingTextG_3{
	animation-delay:0.8655s;
		-o-animation-delay:0.8655s;
		-ms-animation-delay:0.8655s;
		-webkit-animation-delay:0.8655s;
		-moz-animation-delay:0.8655s;
}
#inTurnFadingTextG_4{
	animation-delay:0.992s;
		-o-animation-delay:0.992s;
		-ms-animation-delay:0.992s;
		-webkit-animation-delay:0.992s;
		-moz-animation-delay:0.992s;
}
#inTurnFadingTextG_5{
	animation-delay:1.1085s;
		-o-animation-delay:1.1085s;
		-ms-animation-delay:1.1085s;
		-webkit-animation-delay:1.1085s;
		-moz-animation-delay:1.1085s;
}
#inTurnFadingTextG_6{
	animation-delay:1.235s;
		-o-animation-delay:1.235s;
		-ms-animation-delay:1.235s;
		-webkit-animation-delay:1.235s;
		-moz-animation-delay:1.235s;
}
#inTurnFadingTextG_7{
	animation-delay:1.3615s;
		-o-animation-delay:1.3615s;
		-ms-animation-delay:1.3615s;
		-webkit-animation-delay:1.3615s;
		-moz-animation-delay:1.3615s;
}
#inTurnFadingTextG_8{
	animation-delay:1.478s;
		-o-animation-delay:1.478s;
		-ms-animation-delay:1.478s;
		-webkit-animation-delay:1.478s;
		-moz-animation-delay:1.478s;
}
#inTurnFadingTextG_9{
	animation-delay:1.6045s;
		-o-animation-delay:1.6045s;
		-ms-animation-delay:1.6045s;
		-webkit-animation-delay:1.6045s;
		-moz-animation-delay:1.6045s;
}
#inTurnFadingTextG_10{
	animation-delay:1.731s;
		-o-animation-delay:1.731s;
		-ms-animation-delay:1.731s;
		-webkit-animation-delay:1.731s;
		-moz-animation-delay:1.731s;
}




@keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

