@using OleLukoje.Models

<div class="row">
    <div class="col-sm-2">
        <div id="Filter"></div>
    </div>
    <div class="col-sm-10">
        <div id="Search"></div>
        <div id="ListAds"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#Filter').load('@Url.Action("_FilterAds", "Ad")')
        $('#Search').load('@Url.Action("_SearchAds", "Ad")')
        $('#ListAds').load('@Url.Action("_ListAds", "Ad", new { state = State.Active } )')
    </script>
}