@using OleLukoje.Models

<div id="ListAds"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#ListAds').load('@Url.Action("_ListAd", "Ad", new { state = State.Active } )')
    </script>
}